services:
  wally-backend:
    image: ghcr.io/krescent-studios/wally
    restart: always
    environment:
      - WALLY_auth=${WALLY_auth}
    ports:
      - "9002:8000"
    networks:
      - traefik
    deploy:
      labels:
        traefik.enable: "true"
        traefik.http.routers.authentik.rule: "Host(`wally.pathos.gg`)"
        traefik.http.middlewares.authentik-headers.headers.customrequestheaders.X-Forwarded-Proto: "https"
        traefik.http.services.authentik.loadbalancer.server.port: 9002


networks:
  traefik:
    external: true