services:
  backend:
    image: ghcr.io/krescent-studios/wally
    environment:
      - WALLY_auth=${WALLY_auth}
    networks:
      - traefik
    deploy:
      labels:
        traefik.enable: "true"
        traefik.http.routers.wally.rule: "Host(`wally.pathos.gg`)"
        traefik.http.services.wally.loadbalancer.server.port: 8000

networks:
  traefik:
    external: true
