services:
  wally-backend:
    image: ghcr.io/krescent-studios/wally
    restart: always
    environment:
      - WALLY_auth=${WALLY_auth}
    ports:
      - "9002:8000"
    networks:
      - traefik
    labels:
      - traefik.enable=true

      # Router
      - traefik.http.routers.wally.rule=Host(`wally.pathos.gg`)
      #- traefik.http.routers.wally.entrypoints=websecure
      #- traefik.http.routers.wally.tls=true
      #- traefik.http.routers.wally.tls.certresolver=letsencrypt

      # Service
      - traefik.http.services.wally.loadbalancer.server.port=8080

networks:
  traefik:
    external: true