services:
  wally-backend:
    image: ghcr.io/krescent-studios/wally
    restart: always
    environment:
      - WALLY_AUTH_VALUE=${WALLY_AUTH_VALUE}
    ports:
      - "9002:8000"
    networks:
      - wally

networks:
  wally: