services:
  wally-backend:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    environment:
      - WALLY_auth=${WALLY_auth}
    ports:
      - "9002:8000"
    networks:
      - wally

networks:
  wally: